@font-face {
    font-family: "Montserrat";
    src: url("../assets/Fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
      url("../assets/Fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/Fonts/Montserrat/Montserrat-Bold.woff") format("woff"),
    url("../assets/Fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/Fonts/Montserrat/Montserrat-ExtraBold.woff") format("woff"),
    url("../assets/Fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/Fonts/RobotoCondensed/RobotoCondensed-Light.woff") format("woff"),
    url("../assets/Fonts/RobotoCondensed/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/Fonts/RobotoCondensed/RobotoCondensed-Regular.woff") format("woff"),
    url("../assets/Fonts/RobotoCondensed/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/Fonts/RobotoCondensed/RobotoCondensed-Bold.woff") format("woff"),
    url("../assets/Fonts/RobotoCondensed/RobotoCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
