// DECLARING COLORS
$white: #ffffff;
$black: #000000;
$grey: #333333;
$dark-grey: #212121;
$light-grey: #8a8a8a;
$form-bg: #011F05;
$red: #E82929;
$blue: #548BFB;
$blue-dark: #3163c7;
$bright-red: #FEE9E9;
